#autocomplete div,
#autocomplete ul,
#autocomplete li {
  margin: 0;
  padding: 0;
}

#autocomplete ul,
#autocomplete li {
  list-style: none;
}

#autocomplete {
  display: inline-block;
  position: relative;
  font-size: 1rem;
}

#autocomplete__input {
  font-size: 1rem;
  width: 20em;
  padding: 0.5em;
}

#autocomplete__results {
  position: absolute;
  background: white;
  box-shadow: 0 5px 10px #00000033;
  min-width: 20em;
}

.autocomplete__results__hit {}

.autocomplete__results__hit a {
  display: block;
  padding: 0.5em;
  text-decoration: none;
  &:hover, &:focus {
    background: #eee
  }
}
