// Place all the styles related to the subjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  font-size: 1.2rem;
  padding: 1em;
}

.up {
  margin: 2em 0 1em 0;
}

.debug_dump {
  color: lightgray;
}

a.ancestor {
  display: inline-block;
  padding: 0.25em;
  text-decoration: none;
}

.record-type-name {
  font-size: 1rem;

  &.record-type-C {
    color: hsl(0, 50%, 70%);
  }

  &.record-type-F {
    color: hsl(90, 50%, 70%);
  }

  &.record-type-G {
    color: hsl(180, 50%, 70%);
  }

  &.record-type-H {
    color: hsl(270, 50%, 70%);
  }
}

.record-type-C {
  background: hsl(0, 70%, 95%);
}

.record-type-F {
  background: hsl(90, 70%, 95%);
}

.record-type-G {
  background: hsl(180, 70%, 95%);
}

.record-type-H {
  background: hsl(270, 70%, 95%);
}

h1 {
  padding-left: 0.25em;
}

ul.children li {
  margin: 0.5em 0;
}

a.child {
  display: block;
  padding: 0.5em;
  text-decoration: none;
}

.random {
  position: absolute;
  top: 1em;
  right: 1em;
}
