// Place all the styles related to the subjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  font-family: sans-serif;
  font-size: 1.2rem;
  padding: 1em;
}

.up {
  margin: 2em 0 1em 0;
}

.debug_dump {
  color: lightgray;
}

a.ancestor {
  display: inline-block;
  padding: 0.25em 0.125em;
  text-decoration: none;
}

p {
  line-height: 1.5;
}

.terms {
  font-size: 75%;
  color: gray;
}

.record-type-C {
  color: hsl(0, 50%, 40%);
}

.record-type-F {
  color: hsl(90, 50%, 40%);
}

.record-type-G {
  color: hsl(180, 50%, 40%);
}

.record-type-H {
  color: hsl(270, 50%, 40%);
}

.record-type-name {
  font-size: 1rem;

  &.record-type-C {
    color: hsl(0, 50%, 70%);
  }

  &.record-type-F {
    color: hsl(90, 50%, 70%);
  }

  &.record-type-G {
    color: hsl(180, 50%, 70%);
  }

  &.record-type-H {
    color: hsl(270, 50%, 70%);
  }
}

a.child {
  display: block;
  padding: 0.5em;
  text-decoration: none;
}

.random {
  position: absolute;
  top: 1em;
  right: 1em;
}

.random-material {
  position: absolute;
  top: 3em;
  right: 1em;
}
